---
title: Modelo Black-Scholes-Merton
author: Rafael Bressan
date: '2018-10-04'
slug: modelo-black-scholes-merton
categories:
  - Derivatives
  - Options
tags:
  - Black & Scholes
  - Quant
  - Risk Neutral
header:
  caption: ''
  image: ''
---



<p>Neste artigo desenvolveremos o modelo para precificação de opções do tipo europeias proposto por Fisher Black e Myron Scholes<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> e posteriormente expandido por Robert Merton<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a>. A derivação deste modelo se baseia nos conceitos apresentados sobre processos estocásticos e portanto, recomendamos ao leitor aquele <a href="/2018/09/25/processos-estocasticos-em-financas">artigo anterior</a>.</p>
<p>Antes de entrar na modelagem desenvolvida pelos autores acima citados, iremos tratar de algumas definições essenciais, como por exemplo a precificação de ativos em um mundo neutro ao risco (<em>risk neutral valuation</em>) e portfólio de replicação (<em>replicating portfolio</em>), que são largamente utilizados na precificação de quaisquer derivativos, e não somente opções.</p>
<div id="portfolio-de-replicacao" class="section level2">
<h2>Portfólio de replicação</h2>
<p>Suponha que se deseja precificar uma opção de compra sobre uma ação, vamos denotar o preço desta <em>call</em> de <span class="math inline">\(f_t\)</span>. Sabemos que na data de expiração, <span class="math inline">\(T\)</span>, da opção de compra seu preço será: <span class="math inline">\(f_T=max(S_T - K, 0)\)</span>, onde <span class="math inline">\(S_T\)</span> é o preço da ação subjacente na data <span class="math inline">\(T\)</span> e <span class="math inline">\(K\)</span> é o preço de exercício da opção. Podemos criar um portfólio que envolva um ativo livre de risco, com preço <span class="math inline">\(B_t\)</span> e a ação objeto do derivativo, <span class="math inline">\(S_t\)</span>, que recrie o mesmo valor de pagamento que a opção na data de expiração. Ou seja, criamos o portfólio de replicação <span class="math inline">\(P_t=\Delta S_t + b B_t\)</span>, no qual devemos escolher os valores de <span class="math inline">\(\Delta\)</span> e <span class="math inline">\(b\)</span> de tal forma que <span class="math inline">\(f_T = P_T\)</span>.</p>
<p>De fato, para apenas um período a frente, podemos tomar emprestado a taxa de juros livre de risco<a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a>, <span class="math inline">\(r\)</span> um valor igual ao preço corrente da ação, <span class="math inline">\(S_0\)</span> e comprá-la, ao mesmo tempo em que se “trava” (faz <em>hedge</em>) deste portfólio vendendo a opção. O lucro desta operação em <span class="math inline">\(T\)</span> deve ser zero, pois é um portfólio travado. Com estas premissas é possível calcular o preço do prêmio da opção a ser cobrado no período inicial para que o valor esperado da operação como um todo seja zero.</p>
<p>Este portfólio formado pela venda do ativo livre de risco e compra do ativo objeto é denominado <em>portfólio de replicação</em>, pois, ele fornece um fluxo de caixa igual ao derivativo que buscamos precificar. Ao adicionarmos ao portfólio de replicação a venda (ou seja, o negativo) do derivativo, temos um portfólio <em>hedgeado</em>, onde não existe mais incerteza com relação ao seu retorno esperado.</p>
</div>
<div id="precificacao-neutra-ao-risco" class="section level2">
<h2>Precificação neutra ao risco</h2>
<p>A metodologia de precificação de derivativos dentro do <em>mundo neutro ao risco</em><a href="#fn4" class="footnoteRef" id="fnref4"><sup>4</sup></a> é o carro-chefe das metodologias para se avaliar estes instrumentos. O princípio de precificação neutra ao risco afirma que um derivativo pode ser valorado através das seguintes suposições:</p>
<ul>
<li>o retorno esperado do ativo objeto é a taxa livre de risco, e</li>
<li>o valor esperado do derivativo na expiração deve ser descontado pela taxa livre de risco para trazê-lo a valor presente.</li>
</ul>
<p>É claro que o mundo real não é neutro ao risco, entretanto uma das provas que a metodologia faz é que, ao precificarmos um derivativo de forma relativa ao preço do ativo objeto, a precificação neutra ao risco encontra o mesmo valor para o derivativo que uma metodologia que leve em conta as preferências ao risco dos investidores. Entretanto, precificar um derivativo assumindo neutralidade ao risco é muito mais simples que encarar um modelo baseado no mundo real.</p>
<p>De fato a neutralidade ao risco soa um tanto quanto estranha a primeira vez. Porém, ela tem uma explicação lógica de sua validade nas circunstâncias em que é desenvolvida. Se os investidores forem avessos ao risco, por exemplo, os retornos esperados para o ativo objeto terão embutidos um prêmio pelo risco. Acontece que este prêmio pelo risco também deverá estar na taxa de desconto do valor esperado de pagamento do derivativo, de forma que este prêmio ao risco é cancelado.</p>
<p>É comum na literatura de derivativos encontrarmos os termos mundo-P e mundo-Q. O mundo-P se refere ao mundo real, com probabilidades P reais de ocorrência de eventos, equanto que o mundo-Q é o mundo neutro ao risco, onde as probabilidades Q são ajustadas (tecnicamente suas medidas são alteradas) para refletir esta neutralidade. No mundo-Q é comum denotarmos o valor esperado de alguma variável aleatória com a seguinte notação: <span class="math inline">\(\mathbb{E_Q}[\cdot]\)</span>.</p>
<p>Assim, a precificação de derivativos supondo um mundo neutro ao risco chega no preço correto para todos os mundos.</p>
</div>
<div id="encontrando-a-equacao-de-black-scholes" class="section level2">
<h2>Encontrando a equação de Black-Scholes</h2>
<p>Vamos partir do princípio que nossa ação, objeto da opção que desejamos precificar, siga um MBG conforme descrito no artigo sobre <a href="/2018/09/25/processos-estocasticos-em-financas">processos estocásticos</a>. Portanto, o preço de nossa ação no período <span class="math inline">\(t\)</span> deve observar a seguinte equação diferencial estocástica:</p>
<p><span class="math display" id="eq:ds">\[
\begin{equation}
dS_t=\mu S_t+\sigma S_t dW_t 
\tag{1}
\end{equation}
\]</span></p>
<p>onde <span class="math inline">\(dW_t\)</span> é o movimento Browniano, ou processo de Wiener.</p>
<p>Esta equação resume as principais hipóteses do modelo Black&amp;Scholes de precificação de opções, são elas:</p>
<ul>
<li>O preço do ativo objeto é um processo estocástico e segue uma distribuição log-normal;</li>
<li>O retorno esperado (<span class="math inline">\(\mu\)</span>) e a volatilidade (<span class="math inline">\(\sigma\)</span>) deste ativo são <strong>constantes</strong>, tanto no tempo quanto com relação ao próprio nível de preço do ativo objeto.</li>
</ul>
<p>Ademais destas hipóteses, temos aquelas relacionadas a racionalidade dos mercados e ao princípio de ausência de oportunidades de arbitragem. Estas hipóteses nos levam a validade do mundo neutro ao risco e portanto, a resolução do modelo da forma como descreveremos abaixo.</p>
<p>Nossa opção será descrita por um portfólio de replicação, e se tomarmos seu preço no instante <span class="math inline">\(t\)</span>, então a opção também deve seguir uma equação diferencial estocástica da forma:</p>
<p><span class="math display" id="eq:df1">\[
\begin{equation}
df_t=\Delta dS_t+b\,dB_t 
\tag{2}
\end{equation}
\]</span></p>
<p>aqui <span class="math inline">\(dB_t\)</span> representa a variação do ativo livre de risco (dinheiro) dentro de um período de tempo <span class="math inline">\(dt\)</span>. Sabemos que o valor do ativo livre de risco não envolve incerteza alguma, é determinístico, e seu rendimento é a taxa de juros livre de risco. Assim, para uma taxa continuamente composta <span class="math inline">\(r\)</span> uma unidade de <span class="math inline">\(B\)</span> evolui através de <span class="math inline">\(B_t=e^{rt}\)</span>, logo:</p>
<p><span class="math display" id="eq:db">\[
\begin{equation}
dB_t=rBdt
\tag{3}
\end{equation}
\]</span></p>
<p>De acordo com o <a href="https://pt.wikipedia.org/wiki/Lema_de_It%C5%8D">lema de Ito</a> o diferencial de uma função que dependa do tempo e de um processo estocástico pode ser encontrado da seguinte forma:</p>
<p><span class="math display" id="eq:df2">\[
\begin{equation}
df_t=\frac{\partial f}{\partial t}dt + \frac{\partial f}{\partial S}dS + \frac{1}{2}\frac{\partial^2 f}{\partial S^2}dS^2
\tag{4}
\end{equation}
\]</span></p>
<p>onde <span class="math inline">\(dS^2\)</span> é a variação quadrática de nosso processo <span class="math inline">\(S_t\)</span> que é um movimento browniano geométrico, logo <span class="math inline">\(dS^2=\sigma^2S^2dt\)</span>.</p>
<p>Igualando as equações <a href="#eq:df1">(2)</a> e <a href="#eq:df2">(4)</a>, fazendo as devidas substituições trazidas pelas equações <a href="#eq:ds">(1)</a> e <a href="#eq:db">(3)</a> e por fim rearranjando os termos, chegamos na seguinte relação:</p>
<p><span class="math display" id="eq:nome">\[
\begin{equation}
\left( \frac{\partial f}{\partial t} + \frac{\partial f}{\partial S}\mu S + \frac{1}{2}\frac{\partial^2 f}{\partial S^2}\sigma^2 S^2 - \Delta\mu S - rbB \right)dt + \left( \frac{\partial f}{\partial S}\sigma S - \Delta \sigma S \right)dW = 0 
\tag{5}
\end{equation}
\]</span></p>
<p>que para ser válida para todo <span class="math inline">\(t\)</span>, cada termo entre parênteses deve ser igual a zero simultaneamente. Rapidamente chegamos aos valores necessários de nosso portfólio de replicação.</p>
<p><span class="math display" id="eq:delta">\[
\begin{equation}
\Delta = \frac{\partial f}{\partial S} 
\tag{6}
\end{equation}
\]</span></p>
<p><span class="math display" id="eq:rbb1">\[
\begin{equation}
rbB = \frac{\partial f}{\partial t}+\frac{1}{2}\frac{\partial^2 f}{\partial S^2}\sigma^2S^2 
\tag{7}
\end{equation}
\]</span></p>
<p>Através da equação <a href="#eq:df1">(2)</a>, integrando-a, chegamos na relação <span class="math inline">\(bB = f - \Delta S\)</span> e pré-multiplicando ambos os lados por <span class="math inline">\(r\)</span> temos então que:</p>
<p><span class="math display" id="eq:rbb2">\[
\begin{equation}
rbB = r(f-\Delta S) 
\tag{8}
\end{equation}
\]</span></p>
<p>Finalmente, igualando as equações <a href="#eq:rbb1">(7)</a> e <a href="#eq:rbb2">(8)</a> e substituindo o valor de <span class="math inline">\(\Delta\)</span> encontramos a famigerada equação diferencial parcial - EDP - de Black&amp;Scholes:</p>
<p><span class="math display" id="eq:BS">\[
\begin{equation}
\frac{\partial f}{\partial t}+\frac{1}{2}\sigma^2S^2\frac{\partial^2 f}{\partial S^2}+rS\frac{\partial f}{\partial S} - rf = 0
\tag{9}
\end{equation}
\]</span></p>
</div>
<div id="solucao-analitica5" class="section level2">
<h2>Solução analítica<a href="#fn5" class="footnoteRef" id="fnref5"><sup>5</sup></a></h2>
<p>A equação possui diferentes formas de resolução, a precificação do derivativo irá depender da forma que resolvermos a equação <a href="#eq:BS">(9)</a>. O Modelo Black&amp;Scholes é famoso por conseguir precificar opções call e put europeias, onde a resolução da equação fará uso dos <em>payoffs</em>. Para uma call:</p>
<p><span class="math display" id="eq:cpayoff">\[
\begin{equation}
\displaystyle f(S,T)=\max(S-K,0)
\tag{10}
\end{equation}
\]</span></p>
<p>Já no caso de uma put:</p>
<p><span class="math display" id="eq:ppayoff">\[
\begin{equation}
\displaystyle f(S,T)=\max(K-S,0)
\tag{11}
\end{equation}
\]</span></p>
<p>Onde:</p>
<ul>
<li>T é a data de vencimento da opção,</li>
<li>K é o preço de exercício, e</li>
<li>S é o preço do ativo subjacente.</li>
</ul>
<p>Utilizando os <em>payoffs</em> dados nas equações <a href="#eq:cpayoff">(10)</a> e <a href="#eq:ppayoff">(11)</a>, e resolvendo a EDP de Black&amp;Scholes <a href="#eq:BS">(9)</a>, iremos obter o modelo para se precificar os derivativos citados.</p>
<p>Para uma Call temos que:</p>
<p><span class="math display" id="eq:call">\[
\begin{equation}
C(S,t)=SN(d_{1})-Ke^{-r(T-t)}N(d_{2})
\tag{12}
\end{equation}
\]</span></p>
<p>Já para um Put chegamos a:</p>
<p><span class="math display" id="eq:put">\[
\begin{equation}
P(S,t)=Ke^{-r(T-t)}N(-d_{2})-SN(-d_{1})
\tag{13}
\end{equation}
\]</span></p>
<p>onde:</p>
<p><span class="math display">\[
\begin{align}
&amp;d_{1}={\frac {\ln(S/K)+(r+\sigma ^{2}/2)(T-t)}{\sigma {\sqrt {T-t}}}}\\
&amp;d_{2}={\frac {\ln(S/K)+(r-\sigma ^{2}/2)(T-t)}{\sigma {\sqrt {T-t}}}}=d_1-\sigma\sqrt{T-t}
\end{align}
\]</span></p>
<p>É a partir das equações <a href="#eq:call">(12)</a> e <a href="#eq:put">(13)</a> que se obtém as chamadas gregas, que são as sensibilidades do preço do derivativo em relação a alterações nos parâmetros do modelo. Explicaremos as gregas em maiores detalhes mais adiante.</p>
</div>
<div id="paridade-compra-e-venda" class="section level2">
<h2>Paridade compra e venda</h2>
<p>Agora vamos falar um pouco sobre a paridade entre opções de compra e venda, algo que nos ajuda a precificar algum derivativo quando já conhecemos o preço de outro derivativo com especificações semelhantes.</p>
<p>Assumindo ausência de oportunidade de arbitragem, com um ativo subjacente que tenha liquidez, iremos verificar a paridade Call-Put que define uma relação entre os preços de uma call e put do tipo europeu, desde que possuam o <strong>mesmo tempo de maturidade</strong> e <strong>preço de strike</strong>. Aqui possuiremos menos premissas que o modelo Black&amp;Scholes e premissas mais simples, tal relação poderá ser utilizada para encontrar o valor justo de uma opção. Com a ausência de arbitragem observe que dois portfolios que sempre geram o mesmo payoff em um instante T devem ter o mesmo valor em qualquer instante intermediário.</p>
<p>Imagine um primeiro portfólio onde o investidor compre uma opção de compra C, a qual possui tempo de maturidade T e preço de strike K, sobre algum ativo subjacente que chamaremos de S e compre um título B que seu valor no período T seja de <span class="tex2jax_ignore">$</span>30. E um segundo portfolio onde tenha o próprio ativo subjacente S que esteja sendo negociado a <span class="tex2jax_ignore">$</span>25 e compre uma put P com um preço de strike K e maturidade T. Estes são porfólios de replicação entre si, eles terão exatamente o mesmo <em>payoff</em> no período T, e na ausência de arbitragem, podemos calcular seus retornos através da precificação neutra ao risco. Teremos uma relação onde os valores dos nossos portfolios serão:</p>
<p><span class="math display" id="eq:parity">\[
\begin{equation}
\mathbb{E_Q}[S_t + P_t] = \mathbb{E_Q}[C_t + B_t]; \quad t \leq T
\tag{14}
\end{equation}
\]</span></p>
<p>Como estamos em um mundo neutro ao risco, <span class="math inline">\(P_t\)</span> e <span class="math inline">\(C_t\)</span> são os preços da put e da call dados pelo modelo B&amp;S, enquanto <span class="math inline">\(\mathbb{E_Q}[B_t]\)</span> se resume a <span class="math inline">\(Ke^{-r(T-t)}\)</span>, ou seja, a posição atual em ativo livre de risco deve ser o valor presente do strike das opções. O preço do subjacente é o próprio preço atualmente observado.</p>
<p>Como <span class="math inline">\(S_t\)</span> e <span class="math inline">\(B_t=Ke^{-r(T-t)}\)</span> são conhecidos, se no mercado existir um preço <span class="math inline">\(C_t\)</span> então podemos calcular <span class="math inline">\(P_t\)</span> e vice-versa. Esta é a essência da paridade compra e venda.</p>
<p>Observe que se essa relação não for mantida, teremos arbitragem: Suponhamos que <span class="math inline">\(S_t &gt; B_t\)</span> e que a put esteja com um premio mais alto que a call no entanto ambos possuem um preço de strike <span class="tex2jax_ignore">$</span>30 e maturidade T, que os prêmios sejam <span class="tex2jax_ignore">$</span>20 e <span class="tex2jax_ignore">$</span>15 respectivamente teremos então: 30 + 20 = 15 + 25, nesse caso teremos 50 <span class="math inline">\(\neq\)</span> 40, então vende-se o que está mais caro, no caso a ação e a put e compraria o título e a call, chegando ao um lucro de 50-40=10, de <span class="tex2jax_ignore">$</span>10 sem risco. Observe que independentemente de a ação subir acima ou cair abaixo do strike, o lucro obtido nesta operação será sempre de <span class="tex2jax_ignore">$</span>10.</p>
</div>
<div id="as-gregas" class="section level2">
<h2>As Gregas</h2>
<p>As letras gregas utilizadas no mercado de opções são usadas para denotar as sensibilidades do preço da opção com relação a variação de alguma das variáveis do modelo, a seguir entraremos em detalhes sobre as principais gregas usadas para a análise de opções.</p>
<div id="delta" class="section level3">
<h3>Delta</h3>
<p>Já havíamos definido o delta anteriormente ao encontrarmos a EDP de Black&amp;Scholes, isto é:</p>
<p><span class="math display" id="eq:delta">\[
\begin{equation}
\Delta = \frac{\partial f}{\partial S}
\tag{6}
\end{equation}
\]</span></p>
<p>O delta mede a taxa com que o preço da opção muda conforme o valor do ativo subjacente oscila, seu valor pode variar entre 1 e 0 para call e entre 0 e -1 para put.</p>
<p>Exemplo: imagine uma opção de compra de 100 ações que possui um delta de 0,72, caso o ativo subjacente aumente <span class="tex2jax_ignore">$</span>1 o valor da opção aumentará <span class="tex2jax_ignore">$</span>72 (pois representa 100 ações), e caso o valor do ativo subjacente diminua o preço da opção diminuirá <span class="tex2jax_ignore">$</span>72.</p>
<p>O mesmo acontece com opções de venda, só que de uma forma inversamente proporcional pelo seu delta ser negativo. Uma opção de venda de 100 ações que possui um delta de -0,40 vai valer menos <span class="tex2jax_ignore">$</span>40 caso o preço do seu ativo subjacente aumente <span class="tex2jax_ignore">$</span>1, e vai valer mais <span class="tex2jax_ignore">$</span>40 caso o preço do seu ativo subjacente diminua <span class="tex2jax_ignore">$</span>1.</p>
<p>O strike da opção influência o delta diretamente, quanto mais in-the-money for uma opção, call ou put, maior será o seu delta em valor absoluto, e quanto mais out-the-money, menor será o módulo de seu delta.</p>
</div>
<div id="gamma" class="section level3">
<h3>Gamma</h3>
<p><span class="math display" id="eq:gamma">\[
\begin{equation}
\Gamma = \frac{\partial \Delta}{\partial S} = \frac{\partial^2 f}{\partial S^2}
\tag{15}
\end{equation}
\]</span></p>
<p>O gamma mede a taxa com que o delta muda a cada oscilação do preço do ativo subjacente, seu impacto aumenta conforme o valor atual do ativo se aproxima do strike, sendo responsável pela convexidade do valor da opção. Opções de alto gamma são chamadas de explosivas, uma vez que mesmo pequenas variações no preço do ativo se traduzem em grandes oscilações no preço da opção.</p>
</div>
<div id="theta" class="section level3">
<h3>Theta</h3>
<p><span class="math display" id="eq:theta">\[
\begin{equation}
\Theta = -\frac{\partial f}{\partial \tau}, \quad \tau=T-t
\tag{16}
\end{equation}
\]</span></p>
<p>O Theta é uma taxa que mede o efeito do tempo sobre o preço da opção. Como as opções tem um maior valor de acordo com a quantidade de tempo até a data de vencimento, seu valor também diminui conforme o tempo passa, theta é a letra que mede essa variação (que sempre é negativa). O valor de theta representa a quantidade de dinheiro perdida no prêmio da opção a cada dia que passa.</p>
</div>
<div id="vega" class="section level3">
<h3>Vega</h3>
<p><span class="math display" id="eq:vega">\[
\begin{equation}
\displaystyle {\mathcal {V}}=\frac{\partial f}{\partial \sigma} 
\tag{17}
\end{equation}
\]</span></p>
<p>O vega é uma taxa que mede o efeito da mudança da volatilidade no preço da opção. Seu valor é praticamente constante em opções com a mesma data de vencimento, esse valor aumenta em datas de vencimento mais distantes devido ao maior espaço de tempo em que a volatilidade atua, devido ao maior intervalo de tempo que há para ocorrer mudanças nos preços.</p>
</div>
<div id="rho" class="section level3">
<h3>Rho</h3>
<p><span class="math display" id="eq:rho">\[
\begin{equation}
\displaystyle \rho =\frac{\partial f}{\partial r}
\tag{18}
\end{equation}
\]</span></p>
<p>O rho é uma taxa que mede a sensitividade do preço da ação em relação à taxa livre de risco, caso o valor de de rho determinada opção seja 0,7, para cada aumento de 1% da taxa livre de risco o valor da opção aumentará 0,7%. Essa taxa influi principalmente no preço de opções com uma data de vencimento extremamente distante, não afetando muito o preço de opções cuja data de vencimento é próxima.</p>
</div>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://doi.org/10.1086/260062">Black, F., &amp; Scholes, M. (1973).</a> The pricing of options and corporate liabilities. <em>Journal of political economy</em>, 81(3), 637-654.<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p><a href="https://doi.org/10.1016/0304-405X(76)90022-2">Merton, R. C. (1976).</a> Option pricing when underlying stock returns are discontinuous. <em>Journal of financial economics</em>, 3(1-2), 125-144.<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>Esta é uma suposição do modelo, pode não ser verdade para algum investidor qualquer mas se for para algum outro investidor representativo, o princípio de ausência de arbitragem passa a valer, uma vez que este segundo investidor explorará o mercado e levará o preço do derivativo para o resultado requerido.<a href="#fnref3">↩</a></p></li>
<li id="fn4"><p>A precificação dentro do mundo neutro ao risco mereceria um, ou mais, <em>posts</em> por si só. Aqui lançaremos apenas os principais resultados que nos permitem encontrar o modelo de B&amp;S.<a href="#fnref4">↩</a></p></li>
<li id="fn5"><p>Uma demonstração completa de como encontrar a solução para a EDP de Black&amp;Schole pode ser encontrada em <a href="https://planetmath.org/AnalyticSolutionOfBlackScholesPDE" class="uri">https://planetmath.org/AnalyticSolutionOfBlackScholesPDE</a><a href="#fnref5">↩</a></p></li>
</ol>
</div>
