---
title: Smile de Volatilidade
author: Rafael Bressan
date: '2019-01-18'
categories:
  - Derivativos
tags:
  - opções
  - Quant
  - smile
  - Volatilidade
slug: smile-de-volatilidade
aliases: /post/smile
header:
  caption: ''
  image: ''
---



<p>A volatilidade instantânea, <span class="math inline">\(\sigma\)</span>, do ativo subjacente é a única variável no modelo B&amp;S que não pode ser diretamente observada. De fato, a volatilidade (ou equivalentemente a variância) de um ativo é dita uma variável <strong>latente</strong>. Sabemos que ela existe e possui algum valor no processo gerador, o processo pelo qual os preços são formados, porém não conseguimos observá-la diretamente, apenas estimá-la. Uma das formas de estimação de volatilidade pode ser a partir de dados históricos, mas várias outras formas existem, entre elas processos GARCH, volatilidade realizada, volatilidade estocástica, etc.</p>
<p>Uma vez que a volatilidade não pode ser diretamente observada, a prática comum no mercado é fazer o caminho inverso. Considerar os preços de mercado para as opções como dado, e a partir do modelo <a href="/2018/10/04/modelo-black-scholes-merton">B&amp;S</a> inverter a equação de preço da Call ou Put para encontrar a volatilidade deste modelo que é compatível com os preços de mercado. A esta volatilidade encontrada damos o nome de <strong>volatilidade implícita</strong>.</p>
<p>Portanto, o smile de volatilidade que tratamos neste post é na verdade um gráfico entre a volatilidade implícita, retirada de opções Européias (baunilhas, do inglês vanilla options) a partir do modelo B&amp;S, contra os <em>strikes</em> destas opções.</p>
<div id="reparametrizando-bs-e-definicao-de-moneyness" class="section level2">
<h2>Reparametrizando B&amp;S e definição de moneyness</h2>
<p>Nem sempre é interessante plotar o smile contra os <em>strikes</em> propriamente ditos, uma forma de avaliar o quanto uma opção está “dentro, fora ou no dinheiro” pode ser a grega Delta ou então o chamado <em>moneyness</em> (por favor, se alguém tiver uma boa tradução para este termo, deixe nos comentários). Tradicionalmente a medida de <em>moneyness</em> é a relação <span class="math inline">\(K/S\)</span>, ou seja o strike contra o preço corrente do subjacente. Porém existem outras definições mais interessantes para se trabalhar, entretanto, antes devemos fazer uso de algumas definições e vamos reparametrizar as expressões <span class="math inline">\(d1\)</span> e <span class="math inline">\(d2\)</span> do modelo <a href="/2018/10/04/modelo-black-scholes-merton">B&amp;S</a>.</p>
<p>Lembrando que em precificação de opções estamos no mundo neutro ao risco, vamos definir o valor <em>forward</em>, <span class="math inline">\(F\)</span> do subjacente como o valor corrente composto pela taxa livre de risco até a maturidade da opção, ou seja:</p>
<p><span class="math display">\[F=e^{r\tau}S\]</span></p>
<p>A <strong>volatilidade (implícita) total</strong> pode ser definida como a volatiliade reescalada pela raiz do tempo, que nos dá uma informação da volatiliade esperada para o subjacente do período corrente até a maturidade. Da mesma forma, a <strong>variância total</strong>. Denotanto a volatilidade total por <span class="math inline">\(\theta\)</span> e a variância total por <span class="math inline">\(w\)</span>, temos:</p>
<p><span class="math display">\[\theta=\sigma_{imp}\cdot \sqrt{\tau}\]</span></p>
<p>e</p>
<p><span class="math display">\[w=\sigma_{imp}^2\cdot\tau\]</span></p>
<p>Vamos também definir a medida <em>forward log-moneyness</em> e denotá-la por <span class="math inline">\(k\)</span>. Esta será a medida de <em>moneyness</em> que iremos utilizar ao longo deste e de outros artigo, portanto iremos utilizar este termo para designar o <em>forward log-moneyness</em> a não ser que expresso de forma contrária no texto.</p>
<p><span class="math display">\[k=\ln\left(\frac{K}{S}\right)-r\tau=\ln\left(\frac{K}{F}\right)\]</span></p>
<p>Logo, o <em>strike</em> está relacionado ao <em>moneyness</em> de forma que: <span class="math inline">\(K=Fe^k\)</span>.</p>
<p>Podemos agora reparametrizar as expressões <span class="math inline">\(d1\)</span> e <span class="math inline">\(d2\)</span> do modelo B&amp;S de forma que serão mais facilmente trabalhadas em modelos de volatilidade. Lembrando destas expressões que já foram apresentadas em <a href="/2018/10/04/modelo-black-scholes-merton">artigo anterior</a>:</p>
<p><span class="math display">\[\begin{aligned}
&amp;d_{1}={\frac {\ln(S/K)+(r+\sigma ^{2}/2)(\tau)}{\sigma {\sqrt {\tau}}}}\\
&amp;d_{2}={\frac {\ln(S/K)+(r-\sigma ^{2}/2)(\tau)}{\sigma {\sqrt {\tau}}}}=d_1-\sigma\sqrt{\tau}
\end{aligned}\]</span></p>
<p>Substituindo as expressões para <em>forward log-moneyness</em> e volatilidade total nas definições acima temos as novas parametrizações para <span class="math inline">\(d1\)</span> e <span class="math inline">\(d2\)</span>:</p>
<p><span class="math display">\[\begin{aligned}
&amp;d_{1}={-\frac{k}{\theta}+\frac{\theta}{2}}\\
&amp;d_{2}={-\frac{k}{\theta}-\frac{\theta}{2}}=d_1-\theta
\end{aligned}\]</span></p>
<p>Retomando o valor da opção do tipo Call no modelo B&amp;S, podemos reescrever sua fórmula de apreçamento da seguinte forma:</p>
<p><span class="math display">\[\begin{aligned}
C(K, \tau)=&amp;SN(d1)-Ke^{-r\tau}N(d2)\\
e^{r\tau}C(K, \tau)=&amp;FN(d1)-KN(d2)\\
=&amp;F\left[N(d1)-e^kN(d2)\right]
\end{aligned}\]</span></p>
<p>Esta equação é conhecida como a forma de Black de precificação <em>(Black Call price formula)</em>, que relaciona os valores <em>forward</em> da opção (também conhecido como valor não descontado), do subjacente e do <em>strike</em>. Esta formulação é particularmente útil quando formos extrair a distribuição neutra ao risco do subjacente que está implícita nos preços de mercado das opções.</p>
</div>
<div id="caracteristicas-de-smiles-de-volatilidade" class="section level2">
<h2>Características de smiles de volatilidade</h2>
<p>Caso o modelo de Black, Schole e Merton estivesse em acordo com a realidade, e os ativos tivessem seus preços formados a partir de um verdadeiro MBG, a volatilidade implícita seria uma constante. O gráfico do smile de volatilidade seria uma reta horizontal, com a mesma volatilidade para qualquer nível de <em>moneyness</em> e se considerarmos a superfície toda (que leva em conta os diversos tempos para expiração) esta seria paralela ao domínio <span class="math inline">\((k, \tau)\)</span>. Não estaríamos escrevendo (e você lendo) este artigo se este fosse o caso…</p>
<p>O fato é que o modelo B&amp;S é um modelo muito restritivo, com inúmeras suposições que não se verificam no mundo real e que por conseguinte, tornam os resultados do modelo pouco acurados. Entretanto este é um modelo muito conhecido, de fácil assimilação por parte dos agentes de mercado e que virou a língua franca nos mercados de derivativos. Se todos os <em>traders</em> conversarem em termos do modelo B&amp;S, todos se entenderão, mesmo que internamente cada um possua seu próprio modelo de apreçamento.</p>
<p>Entre as características tipicamente observadas em smiles (e superfícies) de volatilidades pode-se citar:</p>
<ul>
<li>As volatilidades implícitas variam conforme o <em>strike</em> e prazo de expiração</li>
<li>Smiles apresentam <em>skew</em>. Maior inclinação em uma das asas, representando uma maior probabilidade daqueles <em>strikes</em> acontecerem</li>
<li>Smiles de equity tipicamente são negativos</li>
<li>Mercados diferentes apresentam padrões de smile diferentes</li>
</ul>
<div id="mercados-cambiais" class="section level3">
<h3>Mercados cambiais</h3>
<p>Opções sobre moedas possuem tipicamente um smile de volatilidade conforme mostrado na figura 1 abaixo. A volatilidade implícita é relativamente baixa para opções ATM. Esta torna-se progressivamente maior quando a opção se move para dentro do dinheiro ou para fora.</p>
<div class="figure"><span id="fig:smile-cambial"></span>
<img src="/images/smile_cambial.png" alt="Smile típico de um mercado cambial."  />
<p class="caption">
Figura 1: Smile típico de um mercado cambial.
</p>
</div>
<p>Caso a distribuição dos preços do ativo subjacente, neste caso uma taxa de câmbio fosse perfeitamente log-normal como no modelo B&amp;S, o smile não teria esta curvatura. Desta forma podemos afirmar que o mercado, ao precificar as opções, acredita que a distribuição deste ativo possui caudas com maior densidade que supõe a log-normal, existem maiores probabilidades de retornos muito baixos ou muito altos.</p>
</div>
<div id="mercados-de-equities" class="section level3">
<h3>Mercados de <em>equities</em></h3>
<p>Nos mercados de <em>equities</em>, ações, índices de ações e ETFs, por exemplo, o smile apresenta uma característica de assimetria (skew, em inglês) negativa. A asa esquerda (parte onde as puts estão fora do dinheiro) apresenta valores de volatilidade implícita muito maiores que suas contrapartes no lado das calls. Este comportamento reflete a percepção de mercado de uma maior probabilidade de grandes perdas nas ações que altos ganhos, gerando portanto, uma distribuição de preços assimétrica. Como existe uma maior probabilidade de perdas extremas, o seguro para estas, ou seja, uma put é relativamente mais cara que uma call.</p>
<div class="figure"><span id="fig:smile-equities"></span>
<img src="/images/smile_equities.png" alt="Smile típico de uma ação ou índice de ações."  />
<p class="caption">
Figura 2: Smile típico de uma ação ou índice de ações.
</p>
</div>
</div>
</div>
<div id="smile-como-forma-de-precificacao" class="section level2">
<h2>Smile como forma de precificação</h2>
<p>Analisando a equação de B&amp;S com a parametrização para <span class="math inline">\(d1\)</span> e <span class="math inline">\(d2\)</span> dada no início deste artigo é possível verificar que existe uma relação direta entre volatilidade implícita e preço de uma opção, seja esta uma call ou put.</p>
<p>Como <span class="math inline">\(d1\)</span> é estritamente crescente em <span class="math inline">\(\theta\)</span> e <span class="math inline">\(d2\)</span> é estritamente decrescente e ao mesmo tempo o preço de uma opção é crescente em d1 e decrescente em d2, logo, temos uma relação direta entre o preço de uma opção e sua volatilidade implícita para uma dada maturidade. Em outras palavras, em um smile, tudo o mais constante, quanto maior a volatilidade implícita maior o preço da opção naquele <em>strike</em>.</p>
<p>Outra forma de verificar esta relação é perceber que a grega Vega, que é calculada da mesma forma para calls e puts, é sempre positiva. Ou seja, um aumento no valor da volatiliade sempre leva a elevações no preço de uma opção.</p>
<p>Desta forma é normal entre os praticantes de mercado fazer a precificação de opções em termos de “pontos de volatilidade” e não em valores monetários propriamente ditos. Isto porque o modelo B&amp;S, apesar de não ser o modelo correto (nenhum é) para a precificação de opções, é conhecido e de fácil entendimento para todos. Então todos os praticantes podem fazer suas cotações em termos de volatilidades implícitas, que são extraídas de opções baunilhas com o modelo B&amp;S, e somente na hora de fechar um negócio e liquidar o pagamento, o preço efetivo a ser pago é acordado entre as partes.</p>
</div>
<div id="conclusao" class="section level2">
<h2>Conclusão</h2>
<p>O modelo de Black-Scholes-Merton, pode ser considerado a pedra fundamental para a precifição de opções. Entretanto, este modelo apresenta uma séries de limitações que fazem com que os praticantes de mercado utilizem outras técnicas neste mercado. Uma destas é o uso do smile de volatilidade e sua interpretação como forma de precificar opções e extrair informações implícitas nos preços.</p>
<p>A assimetria do smile e suas asas informam que as distribuições de probabilidades para o ativo subjacente não são exatamente log-normais, e podem apresentar discrepâncias significativas, especialmente nas caudas da distribuição que muito interessam a gestão de risco, por exemplo.</p>
</div>
